Flask
python-dotenv
langchain-community
google-generativeai
pypdf

sentence-transformers
faiss-cpu
groq
flask-cors
eventlet 
flask-socketio 
flask-cors
langchain-docling
langchain_huggingface
eventlet